body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#welcome {
    font-size: 4rem;
    color: white;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Animation de fadeIn */
@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}
